body {
}

.tittle {
  text-align: center;
}

.tittle1 {
  font-weight: bold;
  text-align: left;
}

.tittle2 {
  font-weight: bold;
  text-align: left;
}

.tittle3 {
  font-weight: bold;
  text-align: left;
}

.tittle4 {
  font-weight: bold;
  text-align: left;
}

.tittle5 {
  font-weight: bold;
  text-align: left;
}

.tittle6 {
  font-weight: bold;
  text-align: left;
}

.tittle7 {
  font-weight: bold;
  text-align: left;
}
